.category-page{
    display: flex;
    width: 100%;
    border: 1px solid black;
    flex-direction: row;
    padding-left:0px;
    padding-right:0px;
    gap:3em;
    background-color: black;
    color: white;
;
}

.book-boxes{
    display: flex;
    flex-direction: row;
    gap: 1.1em;
    flex-wrap: wrap;
    width: 80%;
    padding-top:0px;
    padding-left: 0;
    border: 1px solid black;
    /* justify-content: center; */
    /* padding-top: ;
    padding-bottom: ;
    gap: */
}
/*.book-lists {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    padding: 1em;*/
/*    gap: 1em;*/
/*}*/
